.navbar .logo{
    background: white;
    border-radius: 6px !important;
}

.content__default code{
    color: #a03535 !important;
    font-size: .95em !important;
    font-weight: bold;
}
.content__default:not(.custom) > h1, .content__default:not(.custom) > h2, .content__default:not(.custom) > h3, .content__default:not(.custom) > h4, .content__default:not(.custom) > h5, .content__default:not(.custom) > h6{
    margin-top -1rem !important;
}

.home-blog .hero{
   color: white !important;    
   background-color: #521ac1 !important;
}
.home-blog .home-blog-wrapper{
    margin: 0 auto !important;
    padding: 20rem 0 0 !important;
}
.home-blog .abstract-wrapper{
    background: rgb(82 26 193) !important;
}